/* Dashboard.module.css */

.dashboardContainer {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }


.tabContainer {
  display: flex;
  justify-content: center;
  gap: 16px; /* Adjust the spacing between tabs */
  margin-bottom: 16px; /* Margin below the tabs */
}

.tabButton {
  padding: 8px 16px;
  background-color: #f3f4f6; /* Background color for inactive tabs */
  color: #000; /* Text color for inactive tabs */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tabButton.active {
  background-color: #4299e1; /* Background color for active tab */
  color: #fff; /* Text color for active tab */
}

.tabButton:hover {
  background-color: #cbd5e0; /* Background color on hover for inactive tabs */
}

.tabButton.active:hover {
  background-color: #3182ce; /* Background color on hover for active tab */
}

/* Additional styles for the input and suggestions can be added here */

  
  /* Add a class for the input element */
  .searchInput {
    padding: 10px;
    font-size: 16px;
  }
  
  /* Add a class for the button element */
  .searchButton {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  

  /* Input style */
.inputStyle {
  width: 100%; /* Adjust the width as needed */
  background-color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Two-column layout for suggestions */
.suggestionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the spacing between items */
}

.suggestionItem {
  flex-basis: calc(50% - 10px); /* Adjust for two columns */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;

  background-color: #f9f9f9;
}

.suggestionItem:hover {
  background-color: #eaeaea;
}

/* Section title style */
.sectionTitle {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 10px;
  background-color: #efefef;
  border-radius: 4px;
}

.mobileMargin {
  margin-bottom: 10px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .dashboardContainer h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}
