@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* font-family: "Outfit", sans-serif; */
    font-family: 'Barlow', sans-serif !important;
}



.powerFont {
    font-family: 'Rubik Glitch', cursive !important;
}

.scrollbarHidden::-webkit-scrollbar {
    width: 0;
    /* Adjust the width as needed */
    background-color: transparent;
}

.scrollbarHidden::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Background color for the search container */
  }