@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* font-family: "Outfit", sans-serif; */
    font-family: 'Barlow', sans-serif !important;
}



.powerFont {
    font-family: 'Rubik Glitch', cursive !important;
}

.scrollbarHidden::-webkit-scrollbar {
    width: 0;
    /* Adjust the width as needed */
    background-color: transparent;
}

.scrollbarHidden::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Background color for the search container */
  }


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .songs-swiper .swiper-button-prev::after,
  .songs-swiper .swiper-button-next::after {
    content: unset !important;
  }
  
  .imageContainerWithSearch {
    transform: translateY(-10px); 
  }
  
  .imageContainerWithoutSearch {
    transform: translateY(0px);
  }